.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 比例 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.video-container #player {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
